@import "./../mixins";
@import "./../variables";
@font-face {
    font-family: "Roboto-Regular";
    src: url('./../fonts/Roboto-Regular.ttf')
}

@font-face {
    font-family: "Avenir-Black";
    src: 
        url('./../fonts/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'), 
         url('./../fonts/AvenirLTStd-Black.woff') format('woff'), 
         url('./../fonts/AvenirLTStd-Black.ttf')  format('truetype'),
         url('./../fonts/AvenirLTStd-Black.svg#svgFontName') format('svg');
}

@font-face {
    font-family: "Socicon";
    src: url('./../fonts/Socicon.ttf');
}

@font-face {
    font-family: "Avenir-Roman";
    src: url('./../fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'), 
         url('./../fonts/AvenirLTStd-Roman.woff') format('woff'), 
         url('./../fonts/AvenirLTStd-Roman.ttf')  format('truetype'),
         url('./../fonts/AvenirLTStd-Roman.svg#svgFontName') format('svg');
}

body {
    font-family: $textFont;
    font-size: 11px;
    @include tablet-p-l {
        font-size:14px;
    }
    @include desktop {
        font-size: 16px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $dark;
    letter-spacing: 2px;
}

h1,
h2 {
    line-height: 1.1;
    font-family: $headFont;
}

h3,
h4 {
    line-height: 1.3;
    font-family: $head2Font;
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 200%;
    font-weight: 400;
}

h4 {
    font-size: 180%;
}

h5 {
    font-size: 130%;
}