/** Fonts **/
$textFont : "Roboto-Regular";
$headFont: "Avenir-Black";
$head2Font: "Avenir-Roman";

/** Colors **/
$white : #fff;
$dark: #2b303a;
$grey:#f2f2f2;
$red: rgb(216, 61, 61);

$totalProjects:7;
$slideWidthMobile:80vw;
$slideWidthDesktop:50vw;


