@import "./../variables";
@import "./../mixins";

.article {
    display:inline-block;

    &__title {
        font-size:200%;
        @include desktop-short {
            font-size:150%;
        }
    }

    &__content {
        margin-top:5%;
        font-size:120%;
        @include desktop-short {
            font-size:100%;
        }
    }

    &__button {
        margin-top:5%;
        font-size:120%;
        @include desktop-short {
            font-size:100%;
        }
    }
}