@import "./../mixins";
.divider {
    display: block;
    &-small {
        @include desktop {
            margin-top: 10%;
            margin-bottom: 10%;
        }

        @include landscape {
            margin-top:2.5%;
            margin-bottom:2.5%;
        };

        margin-top:5%;
        margin-bottom:5%;
    }
    &-normal {
        @include desktop {
            margin-top: 15%;
            margin-bottom: 15%;
        }

        @include tablet-p-l{
            margin-top: 10%;
            margin-bottom: 10%;
        }

        @include landscape {
            margin-top:5%;
            margin-bottom:5%;
        };

        margin-top:10%;
        margin-bottom:10%;
    }
    &-big {
        @include desktop {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        @include tablet-p-l{
            margin-top: 20%;
            margin-bottom: 20%;
        }

        @include landscape {
            margin-top:7.5%;
            margin-bottom:7.5%;
        };

        margin-top:15%;
        margin-bottom:15%;
    }

    &-15 {
        margin-top:15px;
        margin-bottom:15px;
    }
}