@import "./../mixins";
@import "./../variables";

.info-list {

    list-style-type: none;
    margin-left:0;
    padding-left:0;

    &__item {

        &:not(:last-child) {
            margin-bottom:5px;
        }

        &-key {
            font-weight:bold;
        }

        &-value {
            font-style:italic;
        }

    }

}