.inline-list {
    display: inline-block;
    margin-top: 5%;
    @include landscape {
        margin-right: 20px;
    };
    
    &-right {
        @extend .pull-right;
    }
    &__item {
        list-style-type: none;
        display: inline;
        &:not(:last-child) {
            margin-right: 5px;
        }
    }
}