@import '../variables';
@import '../mixins';
.list {
    margin-top: 15px;
    &-collapse {
        @include desktop-short {
            width:33.33%;
            float:left;
        }
    }
    &__title {
        h5 {
            margin: 0;
        }
        padding:10px 15px;
        border-left: 4px solid $dark;
    }
    &__content {
        margin-top: 5px;
        margin-left: 0;
        ul {
            list-style-type: none;
            li {
                position: relative;
                &:not(:last-child) {
                    margin-bottom: 5px;
                    @include desktop {
                        margin-bottom: 10px;
                    }
                }
                &:before {
                    content: '';
                    display: inline-block;
                    width: 8px;
                    height: 1px;
                    background-color: $dark;
                    margin-right: 5px;
                    margin-bottom: 3px;
                    @include desktop {
                        width: 15px;
                        margin-bottom: 6px;
                    }
                }
            }
        }
    }
}