@import "../mixins";
@import "../variables";
.masonry {
    box-sizing: border-box;
    @extend .row;
    
    img {
        @include img-responsive;
        display: inline-block;
    }
    &__item {
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        text-align: center;
        padding:0;
        @extend .col-md-3, .col-sm-4 , .col-xs-6;
        @include desktop {
            height: 30vh;
        }
        @include tablet-p-l {
            height: 100%;
        }
    }
  
}