@import "../mixins";

.masonry {

    column-count: 3;
    column-gap: 1px;
    img {
        @include img-responsive;
    }



    &__item {
        display: inline-block;
        margin: 0 0 1px;
        width: 100%;
    }


    /* Change column count on desktop */
    
}