@import "../mixins";
@import "../variables";
.masonry {
    box-sizing: border-box;
    column-count: 1;
    column-gap: 0;
    column-count: 5;
    @include desktop {
        column-count: 3;
    }
    img {
        @include img-responsive;
        display: inline-block;
    }
    &__item {
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        text-align: center;
        width: 100%;
        @include desktop {
            height: 30vh;
        }
        @include tablet-p-l {
            height: 100%;
        }
    }
    /* Change column count on desktop */
    @include desktop {
        column-count: 5;
        break-inside: avoid;
    }
}