@import "./mixins";
@import "./variables";
.my-modal {
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 100vh;
    position: relative;
    z-index: 999;
    font-size: 80%;
    @include background-opacity($dark, 0.85);
    @include transition;
    &-open {
        visibility: visible;
        width:100%;
        opacity: 1;
    }
    &__content {
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: $white;
        
        
        padding: 50px 11%;
        overflow: hidden;
        width:100vw;
        height:100vh;

        @include desktop {
            width: 70vw;
            height: 90vh;
            border-radius: 5px;
        }

        &-close {
            position: absolute;
            right: 10px;
            top: 10px;
            background-color: transparent;
            padding: 7px !important;
            border-radius: 50% !important;
            padding: 0;
            z-index: 2;
            &:after {
                display: block;
                content: '✖';
                margin: 0 auto;
                width: 18px;
                height: 18px;
            }
        }
        &-header {
            padding-bottom: 5px;
            &:after {
                content: '';
                display: block;
                width: 5%;
                height: 1px;
                background-color: $dark;
            }
        }
        &-body {
            .img-wrapper {
                position: relative;
                height: 20vw;
                overflow: hidden;
                @include desktop-short {
                    display:none;
                }
            }
            img {
                height: auto;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
            }
        }
        &-footer {}
    }
}