@import "./../variables";
@import "./../mixins";
.slide {
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    z-index: 2;
    &-grey {
        background-color: $grey;
    }
    &-white {
        background-color: $white;
    }
    &-home {
        position: relative;
        video {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        &-no-video-support {
            background-image:url('./../img/desktop_screenshot.jpg');
            background-size:cover;
            background-repeat:no-repeat;
            background-position:center;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $white;
        }
    }
    &-about {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .profile-picture {
            height: 35%;
            width: 100%;
            overflow: hidden;
            position: relative;
            order: 1;
            img {
                height: auto;
                width: 100%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -26%);
                @include desktop {
                    transform: translate(-50%, -50%);
                    height: 100%;
                    width: auto;
                }
            }
            @include mobile-l {
                display: none;
            }
            @include desktop {
                width: 45%;
                height: 100%;
                display: block;
            }
        }
        @include desktop {
            flex-direction: row-reverse;
            position: relative;
        }
    }
    &-portfolio {
        .projects {
            @extend .container-fluid;
            height: 60%;
            @include tablet-l {
                height: 48%
            }
        }
    }
    &-contact {
        height: 95vh;
        .form-wrapper {
            @extend .row;
        }
        .social,
        .form-container {
            @extend .col-xs-12,
            .col-sm-12,
            .col-md-6;
        }
        ;
        @include desktop {
            .social {
                text-align: right;
                .icon-links {
                    display: inline-block;
                }
            }
        }
    }
    &__content {
        padding: 2% 5%;
        width: 100%;
        box-sizing: border-box;
        @include desktop {
            padding: 5% 10%;
        }
        &-home {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            button:not(.scroller) {
                margin-top: 15px;
            }
            @include mobile-l {
                transform: translate(-50%, -20%)
            }
            @include mobile-p-l {
                transform: translate(-50%, -50%);
            }
            @include desktop {
                transform: translate(-50%, -50%);
            }
            @include tablet-p-l {
                transform: translate(-50%, -50%);
            }
        }
        &-about {
            float: left;
            height: 75%;
            @include desktop {
                width: 55%;
                position: relative;
                top: 50%;
                transform: translate(0, -50%)
            }
            @include tablet-l {
                height: 100%;
            }
            @include mobile-l {
                height: 100%;
            }
        }
        &-portfolio {
            height: 40%;
            @include tablet-l {
                height: 52%
            }
        }
        &-top {
            @include desktop {
                width: 50%;
            }
        }
        &-contact {
            .article__content {
                display: none;
                @include desktop {
                    display: block;
                }
                @include tablet-p-l {
                    display: block;
                }
            }
        }
    }
}